{% extends 'base.html' %}
{% load bootstrap3 %}
{% block head %}
    {{ block.super }}
        <script>
        // Note that the path doesn't matter for routing; any WebSocket
        // connection gets bumped over to WebSocket consumers
        socket = new WebSocket("ws://" + window.location.host + "/game/1/");
        socket.onmessage = function(e) {
            var event = JSON.parse(e.data);
            var team_id = parseInt(event.team_id);
            if (event.event_type == 'g') {
                // Goal scored
                if (team_id == game_info.home_id) {
                    game_info.home_score++;
                } else if(team_id == game_info.visiting_id) {
                    game_info.visiting_score++;
                }
            }
            update_scores();
        };
        // Call onopen directly if socket is already open
        if (socket.readyState == WebSocket.OPEN) socket.onopen();

        function goal(btn) {
            var team_id = parseInt(btn.value);
            socket.send(JSON.stringify({
                'event_type': 'g',
                'team_id': team_id,
                'game_id': game_info.game_id
            }));
        }

        function update_scores() {
            $('#home_score').text(game_info.home_score);
            $('#visiting_score').html(game_info.visiting_score);
        }
        var game_info = {
            'game_id': {{ game.id }},
            'home_id': {{ game.home_team_id }},
            'home_score': {{ game.home_score }},
            'visiting_id': {{ game.visiting_team_id }},
            'visiting_score': {{ game.home_score }}
        }
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <h1>{{ object.home_team }}</h1>
            <button type="button" class="btn btn-default" value="{{ game.home_team_id }}" id="btn_home_goal" onclick="goal(this)">Goal</button>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-3">
            <h1>{{ object.visiting_team }}</h1>
            <button type="button" class="btn btn-default" value="{{ game.visiting_team_id }}" id="btn_away_goal" onclick="goal(this)">Goal</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <h2 id="home_score">{{ game.home_score }}</h2>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-3">
            <h2 id="visiting_score">{{ game.visiting_score }}</h2>
        </div>
    </div>

{% endblock %}